* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FD8A24;
  --secondary-color: #605F54;
  --background-color: #f9f9f9;
  --text-color: #333;
  --btn-hover-color: #e67a20;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--btn-hover-color);
  transform: translateY(-2px);
}

.error-icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}